.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
footer {
  position:relative;
  bottom: 0;
  width: 100%;    
  background-color: darkslategrey;
  color:yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

.div-board {
  /* margin: 1rem 15px 0; */
  /* border: solid #F7F7F9 */
  align-content: center;
  margin-left: 100px;
}
.add {
  margin: 1rem 15px 0;
}
/* .div-board {
  margin: 1rem 15px 0;
  border: solid #F7F7F9
} */
.add {
  margin: 1rem 15px 0;
}
.card-view {
  margin: 8px 0;
}
.contact-footer{
  text-align: left;
  font-size: 18px;
  margin-left: 150px;
  padding-top: 15px;
 
}
.policy{
    text-align: right; 
    margin-right: 150px; 
    margin-top: -80px; 
    font-size: 18px;  
    
}
.text1{
    margin-left: 40px;
    text-align: left;
    padding-left: 20px;
}

.text2{
    text-align: right;
    margin-right: 40px;
}
.copy{
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 20px;
    font-size: 18px;
}
.display{
  /* padding-top: 10px; */
  /* padding-left: 20px;
  padding-right: 20px; */
  color:darkslategrey;
  font-style: italic;
  font-weight: bolder;
  text-align: center;
  justify-content: space-between;
  display: flex;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
}
 .heading{
  font-weight:bold;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  /* font-style: italic; */
  color:darkslategrey;
  text-align: center;
 
}
.para{
  font-style: italic;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:darkslategrey;
  text-align: center;
  
}
.img{
  width:50%;
  height: 80%;
}
.item{
    border: 2px solid darkslategrey;
    width: 100%;
}

.rest-logo {
height:auto;
width:100%;
  
  
}
.card-body {
color: black;   
border-style:groove;
text-align: center;    
  background-color:rgb(216, 216, 216);    
  /* background-color: white; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.department{
  font-size: 24px;
  font-weight: bold;
}
.title{
  font-size: 17px;
}

.social-media .icons-wrapper{
width:30%;
display: flex;
align-items: center;
justify-content: space-between;
margin-left: 60px;
}
.logo{
margin-bottom: -50px;
margin-top: -25px;
}
.space{
margin-left: 15px;
}
